<div class="w-3/5 flex flex-col items-center justify-center mx-auto space-y-5">
  <form class="gap-3" [formGroup]="furnitureSearchForm" (submit)="search()">
    <div class="w-full">
      <p-iconfield iconPosition="left" styleClass="w-full">
        <p-inputicon> <i class="pi pi-search"></i> </p-inputicon>
        <input
          type="text"
          pInputText
          formControlName="name"
          class="w-full"
          placeholder="Entrez le nom du meuble que vous souhaitez chercher..."
        />
      </p-iconfield>
    </div>

    <div class="w-full flex gap-3">
      <div class="w-full">
        <p-select
          formControlName="buildingId"
          styleClass="w-full"
          [options]="buildingService.buildings"
          optionLabel="name"
          optionValue="id"
          placeholder="Choisissez un bâtiment"
          (onChange)="buildingService.onBuildingChange(furnitureSearchForm)"
        />
      </div>

      <div class="w-full">
        <p-select
          formControlName="storeyId"
          styleClass="w-full"
          [options]="storeyService.storeys"
          optionLabel="name"
          optionValue="id"
          placeholder="Choisissez un étage"
          (onChange)="storeyService.onStoreyChange(furnitureSearchForm)"
        />
      </div>

      <div class="w-full">
        <p-select
          formControlName="roomId"
          styleClass="w-full"
          [options]="roomService.rooms"
          optionLabel="name"
          optionValue="id"
          placeholder="Choisissez une pièce"
        />
      </div>
    </div>

    <div class="w-full">
      <p-select
        formControlName="stateId"
        styleClass="w-full"
        [options]="stateService.states"
        optionLabel="name"
        optionValue="id"
        placeholder="Choisissez un état"
      />
    </div>

    <div class="w-full">
      <p-select
        formControlName="typeId"
        styleClass="w-full"
        [options]="typeService.types"
        optionLabel="name"
        optionValue="id"
        placeholder="Choisissez un type de meuble"
      />
    </div>

    <div class="w-full flex items-center gap-3">
      <p-button
        label="Rechercher"
        styleClass="p-button-success"
        type="submit"
      ></p-button>

      <p-button
        label="Réinitialiser"
        icon="pi pi-filter-slash"
        styleClass="p-button-secondary p-button-outlined"
        type="button"
        (onClick)="reset()"
      ></p-button>
    </div>
  </form>
</div>
