<dialog
  id="addStoreyModal"
  class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-50"
>
  <div class="modal-content">
    <h2>
      {{ storeyService.storeyToEdit ? "Modifier l'étage" : "Ajouter un étage" }}
    </h2>

    <form [formGroup]="storeyForm" (submit)="onSubmit()">
      <div class="mb-3 flex items-center gap-4">
        <label for="name" class="form-label w-20">Nom <app-required /></label>
        <input
          id="name"
          pInputText
          class="flex-1"
          formControlName="name"
          type="text"
          placeholder="Entrez le nom de l'étage"
        />
      </div>

      <div class="modal-actions flex justify-end gap-3 mt-6">
        <p-button
          label="Annuler"
          styleClass="p-button-secondary"
          type="button"
          (onClick)="closeModal()"
        ></p-button>
        <p-button
          [label]="storeyService.storeyToEdit ? 'Sauvegarder' : 'Ajouter'"
          styleClass="p-button-primary"
          type="submit"
        ></p-button>
      </div>
    </form>
  </div>
</dialog>
