<app-header />
<div class="furniture-list-container">
  <div class="furniture-list-header">
    <h2>
      Il y a actuellement {{ furnitureService.furnitures.length }} meuble(s)
      affiché(s)
    </h2>
  </div>

  <!-- Boutons principaux centrés -->
  <div class="flex justify-center gap-4 mb-6">
    <!-- Gestionnaire de mobilier: Enregistrer du mobilier -->
    @if (roleService.currentRole === "Gestionnaire de mobilier") {
      <p-button
        label="Ajouter un meuble"
        styleClass="p-button-primary p-button-lg"
        (onClick)="openModal()"
      ></p-button>
    }

    <!-- Exporter liste (toujours visible) -->
    <p-button
      label="Exporter liste"
      styleClass="p-button-success p-button-lg"
      (onClick)="fakeExport()"
    ></p-button>
  </div>

  <!-- Recherche du mobilier toujours dispo peut importe le rôle ? -->
  <app-search-engine />

  <!-- Gestionnaire de site: Notification -->
  @if (roleService.currentRole === "Gestionnaire de site") {
    <div class="role-actions mb-4 flex justify-center">
      <p-button
        label="Voir notifications de déplacement"
        styleClass="p-button-pink p-button-lg"
        (onClick)="fakeNotify()"
      ></p-button>
    </div>
  }

  <app-furniture-add-form
    [furniture]="furnitureToEdit"
    (handleClose)="closeModal()"
  />

  <div class="furniture-list">
    @if (furnitureService.status === "pending") {
      <p>Chargement...</p>
    } @else {
      @for (furniture of furnitureService.furnitures; track furniture.id) {
        <button class="furniture-card" (click)="openModal(furniture.id)">
          <h2 class="furniture-name">{{ furniture.name }}</h2>
          <div class="furniture-info">
            <p>
              <strong>Emplacement :</strong> {{ furniture.building }},
              {{ furniture.storey }}, {{ furniture.room }}
            </p>
            <p><strong>Type :</strong> {{ furniture.type }}</p>
            <p><strong>État :</strong> {{ furniture.state }}</p>
          </div>
        </button>
      }
    }
  </div>
</div>
