<app-header />

<div class="furniture-list-container">
  <h2>Liste des meubles</h2>
  <p>Nombre de meubles : {{ furnitureService.furnitures.length }}</p>

  <button type="button" (click)="openModal()">Ajouter un meuble</button>
  <app-furniture-add-form (handleClose)="closeModal()" />

  <div class="furniture-list">
    @if (furnitureService.status === "pending") {
      <p>Chargement...</p>
    } @else {
      <ul>
        @for (furniture of furnitureService.furnitures; track furniture.id) {
          <ul>
            <strong>Nom : {{ furniture.name }}<br /></strong>
            <p>Id location : {{ furniture.locationId }}</p>
            <p>Id type : {{ furniture.typeId }}</p>
            <p>Id état : {{ furniture.stateId }}</p>
          </ul>
        }
      </ul>
    }
  </div>
</div>
