<div class="flex h-screen bg-gradient-scene">
  <div class="flex-1 p-6">
    <div class="h-full bg-gradient-panel shadow-panel border-0">
      <app-building-viewer-3d
        [selectedBuilding]="selectedBuilding"
        [selectedStorey]="selectedStorey"
        [selectedRoom]="selectedRoom"
        [selectedFurniture]="selectedFurniture"
        [storeys]="storeyService.storeys"
        [rooms]="roomService.rooms"
        [furnitures]="furnitureService.furnitures"
        [hideNotSelectedStoreys]="hideNotSelectedStoreys()"
        [storeyFloorPlans]="floorPlans"
        (storeySelected)="selectStorey($event)"
      >
      </app-building-viewer-3d>
    </div>
  </div>

  <div class="flex h-screen bg-gradient-scene">
    <div class="w-80 p-6 space-y-4">
      <app-control-panel
        [buildings]="buildingService.buildings"
        [storeys]="storeyService.storeys"
        [rooms]="roomService.rooms"
        [furnitures]="furnitureService.furnitures"
        [selectedBuilding]="selectedBuilding"
        [selectedStorey]="selectedStorey"
        [selectedRoom]="selectedRoom"
        [selectedFurniture]="selectedFurniture"
        (selectBuilding)="selectBuilding($event)"
        (addBuilding)="addBuilding()"
        (selectStorey)="selectStorey($event)"
        (addStorey)="addStorey()"
        (removeStorey)="removeStorey($event)"
        (selectRoom)="selectRoom($event)"
        (addRoom)="addRoom()"
        (removeRoom)="removeRoom($event)"
        (updateRoom)="updateRoom($event)"
        (selectFurniture)="selectFurniture($event)"
        (floorPlanUploaded)="onFloorPlanUploaded($event)"
        [hideNotSelectedStoreys]="hideNotSelectedStoreys()"
        (toggleHideNotSelectedStoreys)="setHideNotSelectedStoreys($event)"
      >
      </app-control-panel>
    </div>
  </div>
</div>

<app-building-add-form />
@if (selectedBuilding) {
  <app-storey-add-form [buildingId]="selectedBuilding.id"></app-storey-add-form>
}

@if (selectedStorey) {
  <app-room-add-form [storeyId]="selectedStorey.id"></app-room-add-form>
}

<app-furniture-add-form />
<app-qr-scan-modal (furnitureScanned)="navigateToScannedFurniture($event)" />
