<dialog
  id="addRoomModal"
  class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-50"
>
  <div class="modal-content">
    <h2>{{ roomService.roomToEdit ? "Modifier" : "Ajouter" }} une pièce</h2>

    <form [formGroup]="roomForm" (submit)="onSubmit()">
      <div class="mb-3 flex items-center gap-4">
        <label for="name" class="form-label w-20">Nom <app-required /></label>
        <input
          id="name"
          pInputText
          class="flex-1"
          formControlName="name"
          type="text"
          placeholder="Entrez le nom de la pièce"
        />
      </div>

      <div class="mb-3 flex items-center gap-4">
        <label for="color" class="form-label w-20"
          >Couleur <app-required
        /></label>
        <p-colorpicker
          inputId="color"
          formControlName="color"
          styleClass="flex-1"
          [style]="{ width: '100%' }"
        />
      </div>

      <div class="modal-actions flex justify-end gap-3 mt-6">
        <p-button
          label="Annuler"
          styleClass="p-button-secondary"
          type="button"
          (onClick)="closeModal()"
        ></p-button>
        <p-button
          [label]="roomService.roomToEdit ? 'Sauvegarder' : 'Ajouter'"
          styleClass="p-button-primary"
          type="submit"
        ></p-button>
      </div>
    </form>
  </div>
</dialog>
