<header class="store-header">
  <div class="header-left">
    <a routerLink="/home"><img src="/logo.webp" alt="Logo" class="logo" /></a>
  </div>
  <nav class="header-nav">
    <a routerLink="/furnitures" class="nav-link">Voir les meubles</a>
  </nav>
</header>

<!-- <app-furniture-add-form />

@if (furnituresStatus === "pending") {
  <p>Chargement...</p>
} @else {
  <p>Nombre de meubles : {{ furnitures.length }}</p>
  <ul>
    @for (furniture of furnitures; track furniture.id) {
      <li>{{ furniture.description }}</li>
    }
  </ul>
} -->
